{% extends 'base.html' %}
{% load static %}

{% block title %}
Profile
{% endblock title %}

{% block userprofilecss %}

<style>
    @import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');
    @import url('https://fonts.googleapis.com/css?family=Oxanium&display=swap');
    @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
    .container h1 {
        color: thistle;
        font-family: 'Spartan' ;
    }

    img.myimg {
        border: 2px solid white;
    }

    img.icon {
        width: 25px;
        height: 25px;
        transition-duration: .3s;
    }

    img.icon:hover {
        transform: scale(2);
        cursor: pointer;
    }

    h6#email {
        color: beige;
        font-family: 'Oxanium' ;
    }

    div#photo_head {
        font-size: 20px;
        color: burlywood;
        text-align: center;
    }

    hr.myHr {
        border: 1px solid white;
    }
    h5#myCap{
        font-family: 'Montserrat' ;
    }
</style>

{% endblock userprofilecss %}

{% block base %}

<div class="container">
    <div>
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <h1 class="text-center">{{user.username|capfirst}}</h1>
    <h6 id='email' class="text-center">{{user.email}}</h6>
    <div id="photo_head">Photos</div>
    <hr class="myHr">
    <div class="img-container">
        <div class="row justify-content-center">
            {% for img in imgs %}
            <div class="card m-2 col-md-4 col-lg-3 p-2 border-dark" style="width: 10rem;">
                <img class="card-img-top" src="{{img.image.url}}" alt="Card image cap" height="150px"
                    style="border: 2px solid rgb(22, 97, 97);">
                <div class="card-body">
                    <h5 id='myCap' class="card-text">{{img.caption}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <img class="icon" src="{% static 'image/fire.svg' %}" alt="fire">
                        <span class="ml-4">{{img.fire_count}}</span>
                    </li>
                    <li class="list-group-item">
                        <img class="icon" src="{% static 'image/poop.svg' %}" alt="shit">
                        <span class="ml-4">{{img.poop_count}}</span>
                    </li>
                    <li class="list-group-item">
                        <img class="icon" src="{% static 'image/haha.png' %}" alt="haha">
                        <span class="ml-4">{{img.haha_count}}</span>
                    </li>
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock base %}