{% extends 'base.html' %}
{% load static %}

{% block userprofilecss %}

<style>
    .container h1 {
        color: thistle;
    }

    img.myimg {
        border: 2px solid white;
    }

    img.icon {
        width: 25px;
        height: 25px;
        transition-duration: .3s;
    }

    img.icon:hover {
        transform: scale(2);
        cursor: pointer;
    }
</style>

{% endblock userprofilecss %}

{% block base %}

<div class="container">
    <div>
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <h1 class="text-center">{{user.username}}</h1>
    <div class="img-container">
        <div class="row justify-content-center">
            {% for img in imgs %}
            <div class="card m-2 col-md-4 col-lg-3 p-2 border-dark" style="width: 10rem;">
                <img class="card-img-top" src="{{img.image.url}}" alt="Card image cap" height="150px"
                    style="border: 2px solid rgb(22, 97, 97);">
                <div class="card-body">
                    <h5 class="card-text">{{img.caption}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <img class="icon" src="{% static 'image/fire.svg' %}" alt="fire">
                    </li>
                    <li class="list-group-item">
                        <img class="icon" src="{% static 'image/poop.svg' %}" alt="shit">
                    </li>
                    <li class="list-group-item">
                        <img class="icon" src="{% static 'image/haha.png' %}" alt="haha">
                    </li>
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock base %}