{% extends 'base.html' %}

{% block title %}
Poll
{% endblock title %}

{% load static %}

{% block pollcss %}

<style>
    @import url('https://fonts.googleapis.com/css?family=Oxanium&display=swap');
    @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

    h5#myCap {
        font-family: 'Montserrat';
    }

    div#myUp {
        font-family: 'Oxanium';
    }
    #react_logo img{
        width: 30px;
        height: 30px;
    }
</style>

{% endblock pollcss %}

{% block base %}
<div class="container rounded" style="background-color: aqua;">
    <span style="font-size: 18px;">Choose Rank Option :</span>
    <select data-sel="select_opt" class="custom-select m-2 text-end" id="inputGroupSelect01" style="width: 200px;">
        <option value="None" selected>Choose...</option>
        <option value="RF">Rank as Fire</option>
        <option value="RP">Rank as Poop</option>
        <option value="RH">Rank as Haha</option>
    </select>
    <span id="react_logo"></span>
    <hr>
    <div id="ranked_image_continer">
        <div class="card">
            <div class="card-body">
                <div class="card-text text-center">
                    <h4 class="text-center">Please Select an Option</h4>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
{% endblock base %}

{% block polljs %}
<script src="{% static 'js/poll.js' %}"></script>
{% endblock polljs %}