{% extends 'base.html' %}

{% block title %}
Poll
{% endblock title %}

{% load static %}

{% block pollcss %}

<style>
    @import url('https://fonts.googleapis.com/css?family=Oxanium&display=swap');
    @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

    h5#myCap {
        font-family: 'Montserrat';
    }

    div#myUp {
        font-family: 'Oxanium';
    }

    #react_logo img {
        width: 30px;
        height: 30px;
    }
    hr.division{
        border: 1px solid rgb(3, 52, 80);
    }
</style>

{% endblock pollcss %}

{% block base %}
<div class="container-fluid">
    <div class="row">
        <div class="col m-2 rounded" style="background: aqua;">
            <div class="card-text text-center m-1" style="font-weight: bold;">HAHA RANK</div>
            {% for h in haha %}
            <hr class="division">
            <div class="card mx-auto my-2 border-dark p-2 w-75">
                <img class="card-img-top" src="{{h.url}}" alt="Card image cap" height="150px"
                    style="border: 2px solid rgb(22, 97, 97);">
                <div class="card-body">
                    <h5 id='myCap' class="card-text">{{h.caption}}</h5>
                </div>
                <div id='myUp' class="card-text text-muted">Uploader : {{h.uploader}} </div>
                <div class="card-text">Rank : {{forloop.counter}} </div>
                <div class="card-text">Value : {{h.count}}</div>
            </div>
            {% endfor %}
        </div>
        <div class="col m-2 rounded" style="background: aqua;">
            <div class="card-text text-center m-1" style="font-weight: bold;">FIRE RANK</div>
            {% for f in fire %}
            <hr class="division">
            <div class="card mx-auto my-2 border-dark p-2 w-75">
                <img class="card-img-top" src="{{f.url}}" alt="Card image cap" height="150px"
                    style="border: 2px solid rgb(22, 97, 97);">
                <div class="card-body">
                    <h5 id='myCap' class="card-text">{{f.caption}}</h5>
                </div>
                <div id='myUp' class="card-text text-muted">Uploader : {{f.uploader}} </div>
                <div class="card-text">Rank : {{forloop.counter}} </div>
                <div class="card-text">Value : {{f.count}}</div>
            </div>
            {% endfor %}
        </div>
        <div class="col m-2 rounded" style="background: aqua;">
            <div class="card-text text-center m-1" style="font-weight: bold;">POOP COUNT</div>
            {% for p in poop %}
            <hr class="division">
            <div class="card mx-auto my-2 border-dark p-2 w-75">
                <img class="card-img-top" src="{{p.url}}" alt="Card image cap" height="150px"
                    style="border: 2px solid rgb(22, 97, 97);">
                <div class="card-body">
                    <h5 id='myCap' class="card-text">{{p.caption}}</h5>
                </div>
                <div id='myUp' class="card-text text-muted">Uploader : {{p.uploader}} </div>
                <div class="card-text">Rank : {{forloop.counter}} </div>
                <div class="card-text">Value : {{p.count}}</div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock base %}

