{% extends 'base.html'%}

{% block title %}
Timeline
{% endblock title %}
{% load static %}

{% block timelinecss %}
<style>
    img.icon {
        width: 30px;
        height: 30px;
        transition-duration: .3s;
    }

    img.icon:hover {
        transform: scale(1.5);
        cursor: pointer;
    }
    .card{
        box-shadow: 10px 10px 50px 5px rgb(2, 41, 56);
        border-radius: 10px;
    }
</style>
{% endblock timelinecss %}

{% block base%}
<div class="container justify-content-center">
    <div data-change="myDiv" class="card mx-auto col-lg-6 col-md-8 col-sm-12">
        {% if empty %}
        <div class="card-body">
            <div class="card-text text-center h5">Nothing to Show</div>
        </div>
        {% else %}
        <div class="card-body">
            <h5 class="card-title m-2">{{img.caption|capfirst}}</h5>
            <img data-type="image" class="card-img-top" src="{{img.image.url}}" alt="Card image cap"
                style="border: 2px solid rgb(104, 66, 9);">
        </div>
        <div class="row m-3 justify-content-between" data-imageid="{{img.id}}">
            <div class="col-5">
                <div class="row">
                    <div class="col-3"><img data-id="fire" class="icon mx-auto d-block"
                            src="{% static 'image/fire.svg' %}" alt="fire"></div>
                    <div class="col-3"><img data-id="poop" class="icon mx-auto d-block"
                            src="{% static 'image/poop.svg' %}" alt="shit"></div>
                    <div class="col-3"><img data-id="haha" class="icon mx-auto d-block"
                            src="{% static 'image/haha.png' %}" alt="haha"></div>
                    <div class="col-3"><img data-id="noex" class="icon mx-auto d-block"
                            src="{% static 'image/noex.png' %}" alt="noex"></div>
                </div>
            </div>
            <div class="col-3 text-center">By : {{img.uploader|capfirst}}</div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock base%}

{% block timelinejs %}
<script src="{% static 'js/timeline.js' %}"></script>
{% endblock timelinejs %}