{% extends 'base.html'%}
{% load static %}

{% block timelinecss %}
<style>
    img.icon {
        width: 30px;
        height: 30px;
        transition-duration: .3s;
    }

    img.icon:hover {
        transform: scale(1.5);
        cursor: pointer;
    }
</style>
{% endblock timelinecss %}

{% block base%}
<div class="container justify-content-center">
    <div class="card mx-auto col-lg-6 col-md-8 col-sm-12">
        <div class="card-body">
            <img class="card-img-top"
                src="../media/photos/1/Iron_Man_02_001_Thumbnail_0000.jpg70d8bb73-ff61-4520-8dca-56645b915b00Original.jpeg"
                alt="Card image cap" style="border: 2px solid rgb(104, 66, 9);">
            <h5 class="card-title m-2">Special title treatment</h5>
        </div>
        <div class="row justify-content-center m-3">
            <div class="col-4"><img class="icon mx-auto d-block" src="{% static 'image/fire.svg' %}" alt="fire"></div>
            <div class="col-4"><img class="icon mx-auto d-block" src="{% static 'image/poop.svg' %}" alt="shit"></div>
            <div class="col-4"><img class="icon mx-auto d-block" src="{% static 'image/haha.png' %}" alt="haha"></div>
        </div>
    </div>
</div>
{% endblock base%}